<head>  
</head>
<body>
    <main>
        <form class="login-form" action="./loginRequest" method="POST">
            <p> Sign in here</p>
            <div class="form-control">
                <label for="title">login</label>
                <input type="text" name="login" id="login">
            </div>
            <div class="form-control">
                <label for="title">password</label>
                <input type="password" name="password" id="password">
            </div>
                <button class="btn" type="submit">Submit</button>
        </form>
    </main>
</body>