<head>  
</head>
<body>
    <main>
        <form class="product-form" action="/saveNewPassword" method="POST">
            <p> Set new password for user with email: <%= email %> </p>
            <div class="form-control">
                <label for="title">Password</label>
                <input type="text" name="password" id="password">
            </div>
            <div class="form-control">
                <label for="title">Repeat Password</label>
                <input type="text" name="repeatPassword" id="repeat-password">
            </div>
                <input type="hidden" name="secret" id="secret" value="<%= secret %>">   
                <button class="btn" type="submit">Submit</button>
        </form>
    </main>
</body>
